
:local(.container) {
    padding: 0.5em;
    background-color: rgb(255, 195, 77);
    position: relative;
}

:local(.grid) {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background-size: 1em auto;
    background-image: linear-gradient(to right,black 1px,transparent 1px),linear-gradient(to bottom,black 1px,transparent 1px);
}

:local(.chessLayer) {
    position: absolute;
    width: calc(100% - 1em);
    height: calc(100% - 1em);
    top: 0.5em;
    left: 0.5em;

    & > :local(.chess) {
        width: 0.6em;
        height: 0.6em;
        transform: translate(-50%,-50%);
        border-radius: 50%;
        position: absolute;
        border: 1px solid black;
    }
}
