@import "./reset.css";

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 微軟正黑體;
}

.container {
    display: flex;
    position: relative;
    padding-left: 20em;
}


.controllButtons {
    margin-bottom: 0.5em;
    font-size: 1.2em;

    button {
        padding: 0.2em 0.5em;
        font-size: 1em;
        margin: 0 0.5em 0 0;
    }
}

#log {
    width: 20em;
    overflow: auto;
    padding-left: 2em;
    position: absolute;
    height: 100%;
    left: 0;
    list-style-type: decimal;
    &:before{
        content: "系統訊息";
        display: block;
        font-size: 1.5em;
        position: relative;
        left: -2rem;
    }
    & > li {
        font-size: 1.2em;
        padding: 0.5em;
        color: black;

        &:last-child {
            color: red;
        }
    }
}
